.popup {
  position: fixed;
  display: block;
  align-items: center;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup-container {
  display: block;
  background-color: rgb(228, 242, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 16px;
  border: 3px solid rgba(122, 73, 255, 0.9);
  width: 625px;
}

.popup-container > h1 {
  margin: 7px;
  color: #161289;
  font-family: "Bitter", serif;
  font-size: 50px;
  font-weight: revert;
  text-align: center;
  text-shadow: 6px 7px 0px rgb(164, 181, 192);
}

.popup-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.image-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 90px;
  margin: 5px 17px;
  border: 10px double rgba(213, 198, 254, 0.718);
  border-radius: 16px;
}

.image-container:hover {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 90px;
  margin: 5px 17px;
  border: 10px double rgba(170, 139, 255, 0.718);
  border-radius: 16px;
  background-color: rgb(180, 219, 255);
  cursor: pointer;
}

.avatar {
  width: 10vh;
  height: 10vh;
  padding: 4px;
}
